pymupdf
langchain
langchain-openai
langchain-experimental
qdrant-client
bm25s
fastapi
uvicorn
python-dotenv
streamlit
ragas
datasets
langchain_community
dotenv
langchain-text-splitters
fastembed
langchain-qdrant
langchain-deepseek
langchain-ollama
langchain_cohere
langfuse
