pymupdf
langchain
langchain-openai
langchain-experimental
qdrant-client
bm25s
sentence-transformers
fastapi
uvicorn
python-dotenv
streamlit
ragas
datasets
langchain_community
dotenv
langchain-text-splitters
fastembed
langchain-qdrant